# ENV and project specific files
.env
exchange_rates.csv
data/*.csv
data/*.png
data/*.db*
chart-builder/data/*.csv
chart-builder/data/*.png
create_chart.sh
# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
# VSCode
.vscode/
*.code-workspace
.history/
.settings/