# ENV and project specific files
.env
exchange_rates.csv
chart-builder/data/*.csv
chart-builder/data/*.png
# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
# VSCode
.vscode/
*.code-workspace
.history/
.settings/
*.log
*.sublime-workspace
*.sublime-project
# END: abpxx6d04wxr
